/* universal set up */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container of all cards */
.row{
    border: 3px dashed black;
    min-height: 1000px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/* sett up general of all columns */
.col{
    /* debug */
    background-color: aqua;
    border: 1px red solid;
    width: calc(100% / 3);
    padding: 10px;
    position: relative;
}
/* stting max-width and height img */
img{
    max-width: 100%;
    height: auto;
}

.card-1-hover{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    padding: 10px;
}
.card-1:hover+.card-1-hover{
    display: block;
}
.heart{
    width: 10%;
    height: 20px;
    background-color: white;
    position: relative;
    bottom: 80%;
    left: 90% 
}
.heart:hover{
    color: red;
}
span{
    padding-left: 8px;
}
